.NavBar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5265c4;
}

.NavBar > .link > .nav-logo{
    font-weight: 700;
    font-size: 30px;
    margin-left: 40px;
    color: white;
}

.NavBar > .categories > .Option{
    color: white;
    font-size: 22px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}
.NavBar > .categories > .Option:hover{
    opacity: 1;
}
.NavBar > .categories > .Option::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: all .45s;
}

.NavBar > .categories > .Option:hover::before{
    width: 100%;
}
.NavBar > .link {
    text-decoration: none;
}
.NavBar > .categories > .ActiveOption {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}